.wd-search-tuiter{
    bottom: 8px;
    left: 10px
}

body {
    background-color: black;
}

.wd-left-navigation-sidebar{
    background-color: black;
    color: white;
}

.wd-right-navigation-sidebar{
    background-color: rgb(47, 51, 54);
    color: white;
}
.wd-text-grey{
    color: rgb(110,118,125);

}
.wd-padding{
    padding-top: 0;
}

.wd-left-padding{
    padding-left: 15px;
}
.wd-text-white{
    color: white;

}
.wd-backgroud-color-gray{
    background-color: rgb(47, 51, 54);
}

.wd-border-color-black{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.wd-border-color-grey{
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

wd.text-color{
    color: rgb(29,161,242);
}

.wd-border{
    border-bottom: solid 4px rgb(29,161,242);
    /*padding-bottom: 2px;*/
    /*font-size: 15px;*/
}

.wd-padding-right{
    padding-right: 16px;
    padding-top:10px ;
}

.wd-border_left-right{
    /*border-color: rgb(47, 51, 54);*/
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-left-color: rgb(47, 51, 54);
    border-right-color: rgb(47, 51, 54);
}


.wd-button-color{
    background-color: white;
    color: black;
}


.wd-margin-top{
    margin-top: 15px;
    padding-left: 20px;
    font-size: 13px;
}

.wd-rounded-corners-all-around {
    border-radius: 20px;
}






/*
*{
    margin:0;
    padding:0;
}
body {
    font-family: "Arial";
    background-color: black;
    color: white;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}
.wd-grid-row {
    clear: both;
}
.wd-grid-col-left-page {
    width: 90%;
    float: left;
}
.wd-grid-col-right-page {
    width: 10%;
    float: left;
}

.wd-rounded-corners-all-around {
    border-radius: 20px;
}

.wd-search{
    background-color: darkgrey;
    color:white;
    width:60%;
    font-size: 20px;
    padding: 10px;
    border: darkgrey;
    margin-left: 16px;
}
.wd-font{
    font-size: 35px;
    color:rgb(29,161,242);
    text-align:right;
    margin-right: 12px;
}

.wd-nav-tabs-display{
    display: inline-block;
}

.wd-nav-tabs{
    color:rgb(29,161,242);
}

.wd-nav-tabs-display li{
    list-style-type:none;
    display: inline-block;
    padding: 16px;
}

.wd-nav-tabs-display .wd-selected{
    border-bottom: solid 4px rgb(29,161,242);
    padding-bottom: 15px;
    font-size: 15px;
}

.wd-block{
    background-color: rgb(47, 51, 54);
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    padding-bottom: 15px;
    margin-top: 2px;
}
.wd-line{
    background-color: rgb(47, 51, 54);
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    margin-top: 20px;

}

.wd-post{
    margin-top: 10px;
    margin-left: 16px;

}
.wd-post-font-color {
    color: white;
}

.wd-link-font-color {
    color: rgb(110, 118, 125);
    font-size: 15px;

}

.wd-post-font{
    font-size: 13px;
    color: rgb(110,118,125);
    padding-bottom: 5px;
    padding-top: 5px;
}
.wd-post-font-YT{
    font-size: 13px;
    color: white;
    padding-bottom: 5px;
}
.wd-post-color {
    color: rgb(110,118,125);
}

.wd-style-right{
    float:right;

}
.wd-style-left{
    float:left;
}

.wd-float-done {
    clear: both;
}
.wd-img{
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
    margin-right: 16px;
}
.wd-no-line {
    text-decoration: none;
}*/
